/* Importing Font Family Files */
@import 
url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');










/* Resetting default CSS values */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    position: relative;
}










/* Helper classes */
/* Buttons */
.btn {
    border-radius: 2.2rem;
    bottom: 0;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 2.4rem  0;
    padding: 1.2rem  3rem;
    position: relative;
    text-transform: capitalize;
    transition: all  .4s;
}

.btn:hover {
    bottom: .6rem
}

.btn-blue {
    background: #192440;
    color: #fff;
}

.btn-blue:hover {
    background: #121a2e;
}

.btn-green {
    background: #00ffae;
    color: #192440;
}

.btn-green:hover {
    color: #fff;
}

.btn-transparent {
    background: rgba(18, 26, 46, 0);
    border: .16rem  solid  #192440;
    color: #192440;
}

.btn-transparent:hover {
    color: #fff;
    background: rgba(18, 26, 46, 1);
}





/* Containers */
.container {
    margin: 0  auto;
    padding: 0  1.5rem;
    width: 114rem;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





/* Font weights */
.fw-400 {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}





/* Links */
.link {
    display: inline-block;
    text-decoration: none;
}





/* Margin */
.mb-8 {
    margin-bottom: .8rem;
}

.mb-16 {
    margin-bottom: 1.6rem;
}

.my-24 {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}

.my-48 {
    margin-top: 4.8rem;
    margin-bottom: 4.8rem;
}





/* Padding */
.px-15 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.py-64 {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
}





/* Paragraphs */
.para {
    color: #292b2c;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
}





/* Section titles */
.section-title {
    color: #292b2c;
    font-size: 4.48rem;
    font-weight: 700;
    line-height: 4.928rem;
    text-align: center;
}





/* Text colors */
.text-blue {
    color: #192440;
}

.text-darkGray {
    color: #292b2c;
}

.text-white {
    color: #fff;
}





/* Text transform */
.text-capitalize {
    text-transform: capitalize;
}










/* Styling Parts */
/* Start of Header Part */
header {
    background: rgba(0, 0, 0, 0.8);
    height: 9rem;
    position: fixed;
    top: 0;
    transition: all  .5s;
    width: 100%;
    z-index: 2;
}

header > .flex-row {
    height: 100%;
}

header > .flex-row > div {
    width: 50%;
}

#logo  img {
    height: 8rem;
    width: 8rem;
}

#navbar  .fa-bars {
    color: #fff;
    cursor: pointer;
    display: none;
    position: relative;
}

#navbar > ul {
    justify-content: flex-end;
    list-style: none;
}

#navbar > ul > li {
    display: inline-block;
}

#navbar  a {
    font-size: 1.9rem;
    overflow: hidden;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

#navbar  a::before {
    background: #fff;
    bottom: 0;
    content: '';
    display: block;
    height: 9%;
    position: absolute;
    transform: translateX(-120%);
    transition: all .4s;
    width: 100%;    
}

#navbar  a:hover::before {
    transform: translateX(0);
}
/* End of Header Part */







/* Start of Main Part */
/* Home Section */
#home {
    background: url('./images/home-bg.jpg');
    background-size: cover;
}

#home > .flex-column {
    align-items: flex-start;
}

#empty-div {
    height: 8rem;
    width: 100%;
}

#home-content {
    position: relative;
}

#home  h1 {
    font-size: 7.2rem;
    line-height: 7.92rem;
    text-transform: capitalize;
    width: 100%;
}

#home  p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
}

#home  a {
    align-self: start;
}





/* Services Section */
#services > .container {
    padding: .8rem  0;
}

#services  h3 {
    font-size: 2.4rem;
    font-weight: 500;
}

.service {
    width: calc(100% / 3);
}

.service  img {
    height: 18.1rem;
    width: 18.1rem;
}

.service > .para {
    text-align: center;
}





/* Feature section */
.feature {
    overflow: hidden;
    position: relative;
}

.feature > .container {
    padding: 0;
}

.feature  .section-title {
    text-align: left;
}

.feature-content, .feature-img {
    width: calc(100% / 2);
}

.feature-content {
    position: relative;
}

.feature-img > img {
    display: inline-block;
    width: 48rem;
}

.pseudo-element-container::after {
    background: #00ffae;
    clip-path: polygon(100% 22%, 0% 100%, 100% 100%);
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

#feature_2 {
    background-color: #00ffae;
}

#feature_2  .feature-content {
    order: 2;
}





/* Price section */
#price > .container {
    padding: 0;
}


.price-card {
    border-radius: .4rem;
    margin-top: 4.8rem;
    padding: 2.4rem  1.5rem;
    transition: all  .7s;
    width: calc(100% / 3);
}

.price-card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.price-card:nth-child(2) {
    background-color: #192440;
}

.price-card:nth-child(2):hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.subscription-type  h6 {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 500;
}

.price-amount {
    font-size: 1.7rem;
}

.price-amount > span {
    font-size: 8.8rem;
    margin-left: 1.5rem;
}

.option-list {
    list-style: none;
    text-align: center;
}

.option-list > li {
    padding: .5rem  0;
}





/* Customers section */
#customers {
    background-color: #eceeef;
}

#customers > .flex-row > div {
    padding-top: .8rem;
    padding-bottom: .8rem;
    width: calc(100% / 6);
}

#customers > .flex-row:first-child > div > img {
    height: 6.275rem;
}

#customers  img {
    height: 7.1rem;
}





/* Contact section */
#contact {
    background: url('./images/contact-bg.jpg');
    background-size: contain;
}

#contact > .container {
    padding: 0;
}

#contact-content, #form-container {
    height: 28.8rem;
    width: calc(100% / 2);
}

#contact  .section-title {
    text-align: left;
    text-transform: capitalize;
}

#information-list {
    list-style: none;
}

#information-list > li {
    padding: .3rem  0;
}

form > div > div {
    width: calc(100% / 2);
}

#form-container  label, #form-container  input {
    display: block;
}

#form-container  label {
    color: #00ffad;
}

#form-container  input:not([type='submit']), #form-container  textarea {
    background: transparent;
    border: .08rem  solid  #00ffad;
    border-radius: .4rem;
    font-size: 1.65rem;
    line-height: 2rem;
    outline: none;
    padding: .8rem  1.2rem;
    width: 100%;
}

#form-container  textarea {
    margin: 0  1.5rem;
    margin-bottom: 1.6rem;
    resize: vertical;
    width: calc(100% - 30px);
}

form  .btn {
    border: none;
    cursor: pointer;
    margin: 1.6rem  1.5rem;
    outline: none;
    width: calc(100% - 15px);
}
/* End of Main Part */







/* Start of Footer Part */
footer {
    background-color: #192440;
    padding: 3.2rem  0;
}

footer > .container {
    padding: 0;
}

footer > .container > div {
    margin: .8rem  0;
    width: 50%;
}

#social-links.flex-row {
    justify-content: flex-end;
}

#social-links  a {
    background: #fff;
    border-radius: 50%;
    color:#192440;
    height: 4rem;
    margin-left: 1.2rem;
    text-decoration: none;
    width: 4rem;
}

.fa-brands {
    font-size: 1.7rem;
    transition: all .5s;
}

#social-links  a:hover {
    background: #00ffad;
    color: #fff;
}
/* End of Footer Part */










/* Large devices */
@media only screen and (max-width: 1200px) {
    .container {
        width: 96rem;
    }

    .feature-img > img {
        width: 45rem;
    }

    .price-amount > span {
        display: inline-block;
        margin-left: 0;
        text-align: center;
    }

    #customers > .flex-row > div {
        width: 16rem;
    }
}










/* Medium devices */
@media only screen and (max-width: 992px) {
    .container {
        width: 72rem;
    }

    .feature-img > img {
        width: 33rem;
    }

    #customers > .flex-row > div {
        width: 12rem;
    }
}










/* Small devices */
@media only screen and (max-width: 768px) {
    .container {
        width: 54rem;
    }

    #logo  img {
        height: 5.5rem;
        width: 5.5rem;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        height: inherit;
        position: relative;
        z-index: 2;
    }

    #navbar  .fa-solid {
        align-self: flex-end;
        display: block;
        margin-top: auto;
        margin-bottom: auto;
    }

    #navbar  ul {
        background: rgba(0, 0, 0, 0.8);
        flex-direction: column;
        position: absolute;
        top: -300%;
        /* left: -128%; */
        left: -150.5%;
        transition: all  .8s;
        width: 301%;
        z-index: 0;
    }

    #navbar  ul > li:last-child {
        margin-bottom: 1rem;
    }

    #home {
        text-align: center;
    }

    #home  a {
        align-self: center;
    }

    #services  .flex-row {
        flex-direction: column;
    }

    .service {
        width: 100%;
    }

    .feature > .flex-row {
        flex-direction: column;
        text-align: center;
    }

    #feature_1 > .container {
        margin-top: 4.8rem;
        margin-bottom: 4.8rem;
    }

    .feature  .section-title {
        text-align: center;
    }

    .feature > .flex-row > * {
        width: 100%;
    }

    .feature-img > img {
        width: 48rem;
    }

    .pseudo-element-container::after {
        clip-path: polygon(100% 48%, -420% 100%, 100% 100%);
    }

    #feature_2  .feature-img {
        order: 2;
    }

    #price {
        overflow: hidden;
    }

    #price > div > .flex-row {
        flex-direction: column;
    }

    .price-card {
        width: 100vw;
    }

    #customers > .flex-row {
        flex-direction: column;
    }

    #customers > .flex-row > div {
        width: 100%;
    }

    #customers  img {
        height: auto !important;
        width: auto;
    }

    #contact {
        padding-bottom: 15rem;
    }

    #contact  .flex-row {
        flex-direction: column;
    }

    #contact-content {
        height: auto !important;
    }

    #information-list {
        margin-bottom: 1.6rem;
    }

    #contact  .flex-row > div {
        width: 100%;
    }

    form  .btn {
        width: calc(100% - 30px);
    }

    footer > .container {
        flex-direction: column;
        text-align: center;
    }

    footer > .container > div {
        width: 100%;
    }

    #social-links.flex-row {
        justify-content: center;
    }
}










/* Extra small devices */
@media only screen and (max-width: 576px) {
    .container {
        width: 100%;
    }

    #empty-div{
        height: 5rem;
    }

    #home  h1 {
        font-size: 5.76rem;
        line-height: 6.336rem;
    }

    .feature-img > img {
        width: 27.32rem;
    }

    #social-links.flex-row {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 376px) {
    #home  h1 {
        font-size: 4.8rem;
        line-height: 6.336rem;
    }
}